<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
        <app-form-errors *ngIf="isSubmit" [controls]="form.controls" [key]="'username'"></app-form-errors>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
        <app-form-errors *ngIf="isSubmit" [controls]="form.controls" [key]="'email'"></app-form-errors>
    </div>
    <button type="submit">Submit</button>
</form>
